.bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $bottom-menu-width;
  height: $bottom-menu-height;
  background-color: $bar-color;
  // padding: 1rem;
  box-shadow: inset -3px -3px 4px #403f96;
  display: none;
  z-index: 999999;
  @media (min-width: 550px) {
    height: $bottom-menu-height--mobile;
    width: $bottom-menu-width--mobile;
  }
  @media (min-width: 768px) {
    width: $bottom-menu-width--mobile;
    height: $bottom-menu-height;
  }
  &__settings {
    width: $bottom-menu-setting-width;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    button {
      background-color: transparent;
      border: none;
      height: $bottom-menu-button-height;
      i {
        font-size: 2rem;
        color: white;
      }
    }
  }
  &__scroll {
    padding-top: 1rem;
    width: $bottom-menu-scroll-width;
    overflow-y: scroll;
    @media (min-width: 550px) {
      width: $bottom-menu-scroll-width--mobile;
    }
    @media p {
      color: white;
      padding: 0.5rem;
    }
    button {
      background-color: transparent;
      border: none;
      width: 100%;
      text-align: left;
      padding: 0.5rem;
      color: white;
      font-size: $paragraph-size;
      i {
        font-size: 2rem;
        padding-right: 1rem;
      }
    }
  }
  &__tiles {
    width: $bottom-menu-tiles-width;
    padding: 0.5rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax($bottom-menu-tile-width, 1fr)
    );
    grid-template-rows: repeat(3, $bottom-menu-tile-height);
    grid-gap: 1rem;
    overflow-y: scroll;
    @media (min-width: 550px) {
      width: $bottom-menu-tiles-width--mobile;
    }
    .tile {
      padding: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.1);
      display: inline-block;
      p {
        padding: 0.5rem 0;
        text-align: center;
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
