#calculator {
  width: auto;
  height: auto;
  @media (orientation: landscape) {
  }
  .calculator__content {
    padding: 0;
    .result-container {
      width: $calculator-result-width;
      height: $calculator-result-height;
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      p {
        display: block;
      }
      &__current-operation {
        color: $dark-gray;
        font-size: $paragraph-size;
      }
      &__result {
        color: white;
        font-size: 3rem;
      }
    }
    .calculator-buttons {
      display: grid;
      grid-template-columns: repeat(4, minmax(30px, 1fr));
      grid-template-rows: repeat(5, 60px);
      @media (orientation: landscape) {
        grid-template-rows: repeat(5, 35px);
      }
      @media (orientation: landscape) and (min-width: 768px) {
        grid-template-rows: repeat(5, 60px);
      }
      button {
        color: white;
        background-color: $medium-gray;
        &.number {
          background-color: $dark-gray;
        }
      }
    }
  }
}
