.explorer__content {
  width: 800px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .connectionFail {
    width: 100px;
    height: 100px;
  }
  p {
    color: black;
    width: 70%;
    text-align: center;
  }
}
