.desktop {
  background-image: url("../img/brick-1920.jpg");
  height: calc(100vh - 4rem);
  .icon-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, $icon-container-button-size);
    grid-template-rows: repeat(auto-fit, $icon-container-button-size);
    grid-auto-flow: column;
    button {
      background-color: transparent;
      border: none;
      width: $icon-container-button-size;
      height: $icon-container-button-size;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      i {
        color: white;
        font-size: $icon-container-icon-size;
        p {
          padding: 0.5rem;
        }
      }
    }
  }
}
