.recycle-bin {
  &__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main-content;
    h2 {
      text-align: center;
      color: white;
    }
  }
}
