// Bottom bar
$bottom-bar-height: 4rem;
$bottom-bar-button-height: 4rem;
$bottom-bar-button-width: 6rem;
$bottom-bar-icons-size: 2rem;

// Bottom menu
$bottom-menu-width: 320px;
$bottom-menu-width--mobile: 500px;
$bottom-menu-height: 500px;
$bottom-menu-height--mobile: 280px;
$bottom-menu-setting-width: 60px;
$bottom-menu-scroll-width: 130px;
$bottom-menu-scroll-width--mobile: 260px;
$bottom-menu-tiles-width: 130px;
$bottom-menu-tiles-width--mobile: 180px;
$bottom-menu-tile-width: 100px;
$bottom-menu-tile-height: 120px;
$bottom-menu-button-height: 50px;

//colors
$bar-color: #5b59c2;
$bar-active-button: #36357a;
$bar-shadow-color: #403f96;
$window-background-color: #eee0e6;
$dark-gray: #382f30;
$medium-gray: #5c5153;
$light-gray: #b8aaad;
$border-light-gray: #b9b9b9;

$icon-container-button-size: 10rem;
$icon-container-icon-size: 4rem;
$paragraph-size: 1.6rem;
$h3-size: 2rem;
$h2-size: 3rem;

//Window
$window-top-bar-height: 3rem;
$window-close-button-width: 3rem;

//Calculator
$calculator-result-height: 6rem;
$calculator-result-width: 30rem;
