// Bottom bar
$bottom-bar-height: 4rem;
$bottom-bar-button-height: 4rem;
$bottom-bar-button-width: 6rem;
$bottom-bar-icons-size: 2rem;

// Bottom menu
$bottom-menu-width: 660px;
$bottom-menu-height: 500px;
$bottom-menu-setting-width: 60px;
$bottom-menu-scroll-width: 220px;
$bottom-menu-tiles-width: 380px;
$bottom-menu-tile-width: 100px;
$bottom-menu-tile-height: 120px;
$bottom-menu-button-height: 50px;

//colors
$bar-color: #5b59c2;
$bar-shadow-color: #403f96;
$window-background-color: #eee0e6;

$icon-container-button-size: 10rem;
$icon-container-icon-size: 4rem;
$paragraph-size: 1.6rem;

//Window
$window-top-bar-height: 3rem;
$window-close-button-width: 3rem;
