.stack__container {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: white;
  .stack__item {
    width: 33%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: black;
    }
    @media (min-width: 600px) {
      width: 20%;
    }
    img {
      width: 120px;
      padding: 0.5rem;
    }
  }
}
