.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: $medium-gray;
  display: none;
  @media (min-width: 768px) {
    width: 600px;
    min-height: 350px;
    height: auto;
  }
  @media (min-width: 1024px) {
    width: 800px;
    height: auto;
    min-height: auto;
    top: 20%;
    left: 20%;
  }
  &__top-bar {
    height: $window-top-bar-height;
    background-color: $bar-color;
    box-shadow: inset -3px -3px 2px #403f96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    button {
      width: $window-close-button-width;
    }
    p {
      margin: 0.5rem;
    }
  }
  &__content {
    display: grid;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto minmax(250px, 100%);
    grid-template-areas:
      "navigation navigation"
      "side-bar side-bar"
      "main-content main-content";
    background-color: $medium-gray;
    @media (min-width: 1024px) {
      grid-template-columns: 180px auto;
      grid-template-rows: auto 500px;
      grid-template-areas:
        "navigation navigation"
        "side-bar main-content";
    }
    .navigation {
      grid-area: navigation;
      display: flex;
      justify-content: space-around;
      background-color: $dark-gray;
      padding: 0.5rem;
      flex-direction: column;
      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
      }
      &--opener {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $dark-gray;
        p {
          padding: 0.5rem 1rem;
        }
        @media (min-width: 1024px) {
          display: none;
        }
      }
      &__arrows {
        display: flex;
        justify-content: space-around;
        @media (min-width: 1024px) {
          width: 180px;
        }
      }
      &__main {
        border: 1px solid $border-light-gray;
        margin: 0.2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        @media (min-width: 1024px) {
          flex-grow: 1;
          margin: 0 0.5rem;
        }
        .directory__main {
          display: flex;
          align-items: center;
        }
        .directory__refresh {
          display: flex;
          align-items: center;
        }
      }
      &__search {
        border: 1px solid $border-light-gray;
        display: flex;
        align-items: center;
        @media (min-width: 1024px) {
          width: 250px;
        }
      }
    }
    .side-bar-navigation {
      grid-area: side-bar;
      background-color: $dark-gray;
      height: 100%;
      @media (min-width: 1024px) {
        display: flex;
      }
      li {
        .side-bar-navigation__button-container {
          display: flex;
          flex-wrap: wrap;
          @media (min-width: 1024px) {
            .on-hover {
              opacity: 0;
              transition: 0.5s;
            }
            &:hover > .on-hover {
              opacity: 1;
            }
          }
        }
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
      }
      .inside-list {
        padding-left: 4rem;
      }
    }
  }
}
