@import "settings";
@import "bottom-bar";
@import "icon-container";
@import "window";
@import "bottom-menu";
@import "calculator";
@import "myComputer";
@import "recycle-bin";
@import "explorer";
@import "stack";
@import "portfolio";
@import "about-me";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto";
  font-weight: 400;
}
body {
  position: relative;
  overflow: hidden;
}
.show {
  display: block;
}
.show-bottom-menu {
  display: flex;
}

//scrollbar
::-webkit-scrollbar {
  width: 2px;
  background: $bar-color;
}
::-webkit-scrollbar-thumb {
  background: rgb(29, 27, 27);
}
p,
input,
i {
  font-size: $paragraph-size;
  color: white;
}
h3 {
  font-size: $h3-size;
  color: white;
}
h2 {
  font-size: $h2-size;
  color: white;
}
i {
  padding: 0.5rem;
}
.hiddenMenu {
  display: none;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: $paragraph-size;
}
